### summary
- jupyter notebook
    - mode : 명령모드, 편집모드
    - style : markdown, code
    - 단축키
        - 실행 : shift + Enter
        - 자동완성 : tab
        - docstring 보기 : shift + tab
        - 주석설정 : cmd(ctrl) + /
        - 샐 셍성 : a(위), b(아래)
    - python 기본 문법
        - 변수 선언 : RAM 저장공간에 값을 할당하는 행위
        - 식별자 규칙
            - 대문자, 소문자, 숫자, _
            - 가장 앞글자 숫자사용 불가
            - 예약어 사용 불가 : def, class, try ...
            - snake_case(변수, 함수), CamelCase(클래스명)
        - 데이터타입
            - 동적타이핑 : 자동으로 저장공간의 데이터 타입이 설정
            - 기본데이터 타입 : int, float, bool, str
            - 컬렉션 데이터 타입 : list(iterable), tuple(iterable), dict
            - offset index : 특정 위치의 데이터를 출력할 때 사용
                - iterable한 dataType에서만 사용 가능
                = [] : mask, masking
                - [idx] : idx위치 데이터를 출력
                - [start:end] : start 에서 end 까지 출력(end 포함 안됨)
                - [start:end:stride] : stride 만큼 jump하여 출력                
            - 각 데이터 타입별로 함수가 있음
    - 형변환
        - 이미 변수에 설정된 데이터 타입을 변경하는 행위
        - zip
            - 여러개의  리스트를 같은 인덱스 끼리 묶어주는 함수
            - 2개 리스트를 묶으면 1개의 dict로 형변환
    - 연산자
        - 산술 : +, -, *, /, //. %. **
        - 할당 : A += 등
        - 비교 : <, >, <=, >=, ==, !=
        - 논리 : and, or, not
        - 멤버 : in, not in

### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할 때 사용
- if, else, elif

In [3]:
# 조건부분에 bool 데이터 타입 이외의 데이터타입이 오면 bool로 형변환 되어 판단

if False :
    print("python")
    
print("done")

done

In [4]:
# int : 0을 제외한 나머지 값은 True
bool(0), bool(1), bool(100)

(False, True, True)

In [8]:
num = 0

if num:
    print("python")

num = 1

if num:
    print("python")

python

In [12]:
number = 21

if number % 2 :
    print(str(number)+"는 홀수 입니다.")

21는 홀수 입니다.

In [13]:
# float : 0.0을 제외한 나머지 실수는 True
# str : ""를 제외한 나머지 문자열은 True
# list, tuple, dict : [], (), {}를 제외한 나머지는 True

In [19]:
# 지갑에 돈이 10000 이상 있으면 택시를 타고 아니면 걸어서 감.

money = int(input("돈이 얼마 있습니까?"))
if money >= 10000:
    print("택시탑니다.")
else:
    print("걸어갑니다.")

돈이 얼마 있습니까?20
걸어갑니다.

In [22]:
# 만원이상은 택시, 2000원 이상은 버스를 탐, 아니면 걸어서감
money = int(input("돈이 얼마가 있습니까"))

if money >= 10000:
    print("택시")
elif money >= 2000:
    print("버스")
else:
    print("걸어")

돈이 얼마가 있습니까2000
버스

In [ ]:
money = 10000

In [36]:
# 계좌에 10000이 들어있습니다.
# 인출 금액을 입력 받습니다.
# 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능 합니다." 출력
# 작으면 "인출되었습니다." 출력
# 현재 계좌의 잔액 출력

draw_money = int(input("insert draw money : "))


if draw_money > money:
    print("인출이 불가능 합니다."+str(draw_money - money)+"원 입니다.")
else:
    money -= draw_money
    print(str(draw_money)+"원이 인출되었습니다.")
    
print("잔액은 "+str(money)+"원 입니다.")

insert draw money : 5000
5000원이 인출되었습니다.
잔액은 0원 입니다.

In [37]:
# string 데이터 타입의 format 함수
print("잔액은 {}원 입니다. 인출금액은 {}입니다.".format(money, draw_money))
print("잔액은 {data1}원 입니다. 인출금액은 {data2}입니다.".format(data2=draw_money, data1=money))

잔액은 0원 입니다. 인출금액은 5000입니다.
잔액은 0원 입니다. 인출금액은 5000입니다.

#### 삼항연산자
- 간단한 if, else 구문을 한줄의 코드로 표현할 수 있는 방법
- True if(condition) else (False)

In [1]:
#data 변수에 0이면 "zero" 출력, 아니면 "not zero"를 출력하는 코드 작성
data = 0
if data:
    print("not zero")
else:
    print("zero")

zero

In [4]:
data = 1
result = "not zero" if data else "zero"
result

'not zero'

### 2. 반복문
- 반복되는 코드를 실행할 때 사용함.
- while, for, break, continue
- list comprehention

In [6]:
# while
data= 3
while data: # 조건이 False가 될 때까지 구문의 코드를 실행
    print(data)
    data -= 1

3
2
1

In [1]:
# 학생이 국어:80, 영어:90, 수학:100점을 받음 while문을 이용해 총점과 평균을 출력하시오.
# 학생의 점수는 list, dict로 표현해도됨.
# len(), dict,values(), list.pop()

subject_ls = ["korean", "english", "math"]
score_ls = [80, 90, 100]
score = {
    "korean":80,
    "english":90,
    "math":100
}
total, avg = 0, 0

In [3]:
datas = score_ls.copy() # 깊은 복사: 원본데이터를 보존

In [4]:
#pop으로 하나씩 줄여가는 방법이 있음. 다 빠지면 datas가 boolean False임
while datas:
    total += datas.pop()
avg = total / len(score_ls)
total, avg

(270, 90.0)

In [13]:
# 무한루프
# break : 반복문을 중단 시킬 때 사용되는 예약어
result = 1
while result:
    result += 1
    
    if result >= 10:
        break
    
print(result)

10

### for
- iterable(순서가 있는)한 값을 하나씩 꺼내서 value에 대입시킨 후 코드를 iterable 변수의 값 갯수만큼 실행

```
for <variable> in <iterables>:
    <code>
```

In [9]:
# for : continue : 조건부분으로 올라가서 코드가 실행
ls = [0, 1, 2, 3, 4,]

for data in ls:
    if data %2:
        continue # continue를 만나면 아래 코드 실행이 안되고 다시 반복
    print(data, end=" ")

0 2 4

In [14]:
# for 문을 이용해 코드를 100번 실행
# range 함수
list(range(100))

for data in range(100):
    result += data
result

4960

In [15]:
# offese index 개념과 비슷하게 사용 가능
list(range(5)), list(range(5, 10)), list(range(0, 10, 2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [0, 2, 4, 6, 8])

In [17]:
#0~10까지 짝수를 더한 총합
list(range(0, 10, 2))
total = 0
for data in range(0, 11, 2):
    total += data
total

30

In [18]:
score = {
    "korean":80,
    "english":90,
    "math":100
}

In [20]:
for data in score :
    print(data)

korean
english
math

In [21]:
list(score.items())

[('korean', 80), ('english', 90), ('math', 100)]

In [22]:
for subject, score in score.items() :
    print(subject, score)

korean 80
english 90
math 100

In [24]:
# for문에서 iterable 데이터가 tuple로 나오면 여러개의 변수로 받을 수 있습니다.
subject_ls = ["korean", "english", "math"]
score_ls = [80, 90, 100]
for subject, score in zip(subject_ls, score_ls):
    print(subject, score)

korean 80
english 90
math 100

- 구구단 출력문제 (가로출력)
    - print : end="\t"
    - string : format
   
```
2*1=2 3*1=3 ... 9*1=9
...
```

In [36]:
for data1 in range(1,10):
    for data2 in range(2,10):
        #print(str(data2)+"*"+str(data1)+"="+str(data1*data2), end="\t")
        print("{}*{}={}".format(data2, data1, data2*data1), end="\t")
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81