### class : 클래스
- 변수와 함수를 묶어 놓은 개념
- 사용방법
    - 변수와 함수가 들어있는 클래스를 선언
    - 클래스를 객체로 만들어서 클래스 안에 선언된 변수와 함수를 사용

### 1. 기본 클래스의 사용

In [10]:
# 클래스의 선언
class Calculator:
    num1 = 1
    num2 = 2
    
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [11]:
# 클래스의 사용
calc = Calculator() # 객체생성
calc

In [12]:
calc.num1, calc.num2, calc.plus(), calc.minus()

(1, 2, 3, -1)

In [14]:
calc2 = Calculator()

In [16]:
calc2.num1 = 10

In [17]:
calc2.plus()

12

### 2. 객체지향
- 실제 세계를 코드에 반영해서 개발하는 방법
- 여러명의 개발자가 코드를 효율적으로 작성해서 프로젝트를 완성시키기 위한 방법
- 설계도 작성(class) -> 실제 물건(object)
- 사용자 정의 데이터 타입

In [18]:
calc2.plus()

12

In [19]:
obj = "python"
obj.upper()

'PYTHON'

In [21]:
ls = [1,3,2]
ls.sort()
ls

[1, 2, 3]

In [22]:
[data for data in dir(calc) if data[:2] !="__"]

['minus', 'num1', 'num2', 'plus']

### 3. 생성자
- 클래스가 객체로 생성될 때 실행되는 함수
- 변수(재료)를 추가할 때 사용됨

In [23]:
class Calculator:
    #생성자 함수 : __init__
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [27]:
calc1 = Calculator(3,5)
calc1.plus()

8

In [28]:
# join
ls = ["python", "is", "good"]
sep = " "
sep.join(ls)
" ".join(ls)

'python is good'

In [29]:
# pandas dataframe
import pandas as pd

In [32]:
df = pd.DataFrame([
    {"name":"Seul", "age":28},
    {"name":"andy", "age":30}
])
df

   name  age
0  Seul   28
1  andy   30